@font-face {
  font-family: myFont;
  src: url(/signup-form/font/Matrix-MZ4P.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  color: white;
  font-family: myFont;
  font-weight: bolder;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* LEFT SIDE */
.left {
  position: relative;
  height: 100%;
  width: 35%;
  display: flex;
  box-shadow: 1px 1px 30px red;
  border-right: 1px solid red;
}

.left-bg {
  width: 100%;
  height: 100%;
}

.logo-container {
  animation: transitionIn2 3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
  font-size: 1.3em;
  top: 10%;
  left: 5%;
  padding: 10px 0;
  background-color: rgba(80, 80, 80, 0.3);
  border: 1px solid rgba(100, 216, 107, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px #64d86b;
  text-shadow: 0 0 10px #64d86b;
  letter-spacing: 15px;
}

.logo-container > p {
  color: antiquewhite;
}

/* RIGHT SIDE */
.right {
  width: 65%;
  height: 100%;
  background-image: url(/signup-form/pictures/eugene-belyavskiy-JA0R0Q0tewA-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

/* RIGHT SIDE HEADER */
.header {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  text-shadow: 3px 3px 10px red;
  animation: transitionIn 3s;
}

/* RIGHT SIDE FORM */
.form-container {
  box-shadow: 10px 10px 20px whitesmoke;
  width: 100%;
  height: 35%;
}

#form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: transitionIn 3s;
}

#form div {
  display: flex;
  margin: 0 100px;
}

label {
  position: absolute;
  left: 0;
  padding: 10px 20px;
  border-radius: 5px;
  letter-spacing: 0.2em;
  font-size: 1em;
  text-shadow: 0 0 3px green;
  opacity: 0.5;
  transition: 0.5s;
}

.input-form input:focus ~ label,
.hover {
  transform: translate(20px, -15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 3px green;
  color: green;
  opacity: 1;
}

.input-form > small {
  position: absolute;
  text-shadow: 0 0 3px black;
  left: 0;
  color: red;
  translate: 5px 43px;
}

.input-form {
  width: 250px;
  position: relative;
}

#password,
#password2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1em;
  text-shadow: 0 0 3px red;
  border: 1px solid whitesmoke;
  box-shadow: 10px 10px 15px whitesmoke;
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  color: white;
}

.success {
  border: 2px solid green;
  box-shadow: 10px 10px 15px lime;
}
.error {
  border: 2px solid red;
  box-shadow: 10px 10px 15px red;
}

/* RIGHT SIDE BOTTOM */

.bottom {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
  position: relative;
  animation: transitionIn 3s;
}

button {
  padding: 10px 40px;
  font-size: 1em;
  letter-spacing: 1em;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px white;
  background-color: green;
  color: black;
  text-shadow: 0 0 2px green;
  font-weight: bolder;
}
button:active {
  transform: translateY(2px);
  transform: scale(0.99);
}
#btn-error {
  position: absolute;
  translate: 0 70px;
  letter-spacing: 10px;
  font-size: 1.2rem;
  color: red;
}

button ~ p {
  margin-top: 10px;
  letter-spacing: 5px;
}

/* ANIMATIONS */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(500px);
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
  }
}
@keyframes transitionIn2 {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
